@page
@model ron_world_chase_tag.Pages.eventsModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Chase Tag events</title>
    <link href="../css/events_style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>World Chase Tag Events</h1>
    </header>
    <main>
        <h2>Upcoming events</h2>
        <ul>
            <li>
                <strong>World Chase Tag Championship 2025</strong><br>
                Location: London, UK<br>
                Date: March 15, 2025
            </li>
            <li>
                <strong>Asia Regional Qualifiers</strong><br>
                Location: Tokyo, Japan<br>
                Date: April 20, 2025
            </li>
            <li>
                <strong>North America Open</strong><br>
                Location: Los Angeles, USA<br>
                Date: May 10, 2025
            </li>
        </ul>
        <h2>Past events</h2>
        <ul>
            <li>
                <strong>World Championship 2024</strong><br>
                Winner: Team Apex<br>
                The event took place in Paris,France, and is the event is considered
                one of the most intense events in the history of world chase tag.
                The winning team "team apex" won because of their
                great tactics and crazy speed.
            </li>
            <li>
                <strong>European Open 2024</strong><br>
                Winner: Team Blaze<br>
                This event was held in Berlin,Germany, featuring competitors from all around Europe.
                There was a high skill level and a lot of memorable moments.
            </li>
            <li>
                <strong>America’s Best 2023</strong><br>
                Winner: Team Velocity<br>
                This event took place in New York,USA, this comptition was filled with exciting moments,
                and a lot of fun until the very last moment. The winning team "Team Velocity"
                showcased there amazing skill and speed.
            </li>
        </ul>
    </main>
    <footer>
        <nav><a href="main_page.html">Back to main page</a></nav>

    </footer>
</body>
</html>
