@page
@model ron_world_chase_tag.Pages.galleryModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World chase tag Gallery</title>
    <link href="../css/gallery_style.css" rel="stylesheet" />
</head>
<body>

    <header>
        <h1>World chase tag gallery</h1>
    </header>

    <div class="gallery">
        <img src="../images/tag picture2.jpg" alt="Image 1">
        <img src="../images/tag picture3.jpg" alt="Image 2">
        <img src="../images/tag picture4.jpg" alt="Image 3">
        <img src="../images/tag picture5.jpg" alt="Image 4">
        <img src="../images/tag picture6.jpg" alt="Image 5">
        <img src="../images/tag picture7.jpg" alt="Image 6">
        <img src="../images/tag picture8.jpg" alt="Image 7">
        <img src="../images/tag picture9.jpg" alt="Image 8">
    </div>

    <footer>
        <nav> <a href="main_page.html">Back to main page</a></nav>

    </footer>

</body>
</html>

