@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>World Chase Tag website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/main_page_style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <img src="../images/logo.png" />
        <h1 style="color:black;text-align:center; font-size:35px">
            WELCOME TO WORLD CHASE TAG WEBSITE
        </h1>

    </header>
    <main class="main-section">
        <div class="text">
            <h1>Welcome to World Chase Tag</h1>
            <p>
                World Chase Tag is an exciting sport that combines the thrill of parkour
                and the strategy of a high-stakes game of tag. Players navigate through
                an arena filled with obstacles, showcasing their agility, speed,
                and tactical skills to get away or chase opponents.
                World Chase Tag was founded in Britain by Christian Devaux in 2012,
                with his brother Damien joining the organisation the following year.
            </p>
        </div>
        <img src="../images/tag picture1.jpg" />
    </main>
    <h1 style="text-align:center">Learn the rules</h1>
    <div class="video">
        <iframe width="1150" height="700" src="https://www.youtube.com/embed/gli7KXqQE2g"
                title="World Chase Tag For Beginners" frameborder="0"
                allow=";accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <footer>
        <p style="color:black;text-align:center;
                font-size:23px">Connect with us:</p>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </footer>
</body>
</html>
