@page
@model ron_world_chase_tag.Pages.top_playersModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Players in World Chase Tag</title>
    <link href="../css/top_players.css" rel="stylesheet" />

</head>
<body>
    <header>
        <h1>Top Players in World Chase Tag</h1>
    </header>
    <main>
        <h2>Elite Players</h2>
        <ul>
            <li>
                <strong>Travis Verkaik</strong><br>
                Team: UGen<br>
                Known for: Unbelievable speed and precise evasion skills.
            </li>
            <li>
                <strong>Sam Gower</strong><br>
                Team: Marrero Gang<br>
                Known for: Lightning-fast reflexes and strategic movements.
            </li>
            <li>
                <strong>Brodie Pawson</strong><br>
                Team: Ozzy WCT<br>
                Known for: Parkour expertise and seamless agility.
            </li>
            <li>
                <strong>Kaine Richmond</strong><br>
                Team: Blacklist
                <br>Known for: Exceptional endurance and unpredictable strategies.
            </li>
            <li>
                <strong>Jesse Peveril</strong><br>
                Team: No Cap<br>
                Known for: Mastering the art of deception and sudden directional changes.
            </li>
        </ul>
    </main>
    <footer>
        &copy; 2025 World Chase Tag. All Rights Reserved.
    </footer>
</body>
</html>
